:root {
  --logo: #2196f3;
  --main-text-cl: #212121;
  --accent-cl: #2196f3;
  --title-cl: #ffffff;
  --black: #212121;
  --grey: #757575;
  --black-rock: #2f303a;
  --bg-color: #e5e5e5;
  --bg-cl-blu: #f5f4fa;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
  background-color: var(--bg-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.h1,
.h2,
.h3,
.p {
  margin: 0px;
  padding: 0px;
}

.bg-color-w {
  background-color: var(--title-cl);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link,
.link-hf,
.heder-logo {
  color: inherit;
  text-decoration: none;
}

.link-hf {
  display: inline-block;
  margin-bottom: 20px;
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}

.btn-studia {
  display: flex;
  margin: auto;
  font-weight: 700;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--title-cl);
  background-color: var(--accent-cl);
  border: none;
  padding: 10px 32px;
  min-width: 200px;
}

.btn-portfolio {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--black);
  background-color: #f5f4fa;
  border: none;
  padding: 6px 22px;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--accent-cl);
  color: var(--title-cl);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-cl);
}

.logo-web-header {
  color: var(--black);
}

.logo-web-footer {
  color: var(--title-cl);
}

.menu-link,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--black);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}

.current {
  color: var(--accent-cl);
}

.contacts {
  color: var(--grey);
}

.section {
  padding-top: 94px;
}

.section-title {
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
  margin-bottom: 50px;
}

.section-title-mini {
  font-size: 16px;
  line-height: 1.187;
  font-weight: 500;
  text-align: center;
  color: var(--black);
}

.section-title-caps {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 10px;
}

.banefits-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: left;
}

.hero-title {
  color: var(--title-cl);
  font-style: normal;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.title-progect {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
}

.exemples-title {
  margin-top: 20px;
  margin-left: 24px;
  font-weight: bold;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--black);
}

.paragraf {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 30px;
}

.paragraf-ptf {
  margin-bottom: 20px;
  margin-left: 24px;
  font-size: 16px;
  line-height: 1.875;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 3px;
  line-height: 1.714;
  margin-top: 0;
  margin-bottom: 9px;
  bottom: 0;
}

.address-color {
  color: var(--title-cl);
}

.contacts-mt {
  color: rgba(255, 255, 255, 0.6);
}

address {
  font-style: normal;
}

.bg-color-dark,
.footer {
  background-color: var(--black-rock);
}

.bg-color-dark {
  height: 600px;
}

.container {
  width: 1170px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: auto;
  margin-left: auto;
}

.footer-container {
  width: 1600px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  width: 1170px;
  background: var(--title-cl);
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: inline-flex;
  align-items: center;
  height: 79px;
  border-bottom: 1px solid #ececec;
  width: 1170px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: auto;
  margin-left: auto;
}

.bg-color-blu {
  background: var(--bg-cl-blu);
  padding-top: 94px;
}

.my-comand {
  margin-top: 94px;
}

.menu {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-item:not(:last-child) {
  padding-right: 50px;
}

.heder-logo {
  display: inline-block;
  margin-right: 93px;
  align-items: center;
}

.navigation {
  margin-right: auto;
}

.hero-content {
  display: inline-block;
  width: 696px;
  margin: 200px 276px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}
.content-box {
  width: 270px;
  flex-basis: calc(100% / 4 -30px);
}

.benefits {
  margin-top: 94px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 0;
}
.work-item:first-child {
  margin-left: 0;
  margin-right: 0;
}

.work-item:for-child {
  margin-left: 0;
  margin-right: 0;
}

.work-tiam {
  flex-basis: calc(100% / 4 - 30px);
  background-color: var(--title-cl);
}

.work-tiam:first-child {
  margin-left: 0;
  margin-right: 0;
}

.fleximg {
  width: 370px;
  height: 404px;
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
}

.fleximg-my-work {
  width: 370px;
  height: 294px;
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
}

.fleximg-tiam {
  width: 370px;
  height: 368px;
  margin-left: 30px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 94px;
}

.b-box {
  display: block;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.workers {
  flex-basis: calc(100% / 4 - 30px);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.workers-text {
  margin-top: 30px;
  margin-bottom: 10px;
}

.menu-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-portfolio-item:not(:last-child) {
  padding-right: 9px;
}

.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--title-cl);
}
